.nav {
  display: flex;
  justify-content: space-between;
}
.nav a {
  margin: 10px;
  text-decoration: none;
  color: black;
  font-weight: 700;
}
.logo {
  margin: 5px;
  display: flex;
  justify-content: flex-start;
}
.icons {
  margin: 5px;
  display: flex;
  justify-content: flex-end;
}
